
body{
	/*background-color: #0e1111;*/
	background-color: white;
	margin: 0; 
	height: 100%; 
	overflow: hidden;
}

.word1{
	position: relative;
	height: 100px;
	left: 100px;
}

.circle{
	position: relative;
	overflow: hidden;
}

.img1{
	position: absolute;
	transform-origin: 50% 50%;
}

.img2{
	position: absolute;
	transform-origin: 50% 50%;
}